.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

}


.poly {
    background-color: yellow;
    border: 1px solid transparent;
    border-color: black;
    position: relative;
}

.greenPlayer {
    background-color: green;
    position: absolute;
}

.bluePlayer {
    background-color: blue;
    position: absolute;
}

.ball {
    background-color: red;
    position: absolute;
}

.set {
    display: block;
    width: 100px;
    height: 50px;
    margin: 10px auto;
}

.info {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.goals {
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

.aboutPoint {
    font-size: 20px;
    text-weight: 900;
    text-align: center;
}